<?xml version="1.0"?>
<robot name="4WD_rover" xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo reference="chassis_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="left_front_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>300000.0</kp>
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="right_front_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>300000.0</kp>
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="left_rear_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>300000.0</kp>
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="right_rear_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>300000.0</kp>
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_base_controller" filename="libgazebo_ros_skid_steer_drive.so">
      <updateRate>15.0</updateRate>
      <robotNamespace>/</robotNamespace>
      <leftFrontJoint>left_front_wheel_joint</leftFrontJoint>
      <rightFrontJoint>right_front_wheel_joint</rightFrontJoint>
      <leftRearJoint>left_rear_wheel_joint</leftRearJoint>
      <rightRearJoint>right_rear_wheel_joint</rightRearJoint>
      <wheelSeparation>0.358</wheelSeparation>
      <wheelDiameter>0.254</wheelDiameter>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <torque>8</torque>
      <commandTopic>cmd_vel/managed</commandTopic>
      <broadcastTF>false</broadcastTF>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_joint_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <robotNamespace>/</robotNamespace>
      <jointName>
        left_front_wheel_joint,
        right_front_wheel_joint,
        left_rear_wheel_joint,
        right_rear_wheel_joint
      </jointName>
      <UpdateRate>30.0</UpdateRate>
    </plugin>
  </gazebo>

</robot>
