<launch>
  <!-- Managed control inputs -->
  <node pkg="rr_control_input_manager" type="control_input_manager.py" name="control_input_manager_node"
        output="screen">
    <rosparam file="$(find rr_control_input_manager)/config/test.yaml" command="load"/>
  </node>

  <test pkg="rr_control_input_manager" test-name="test" type="test.py" name="control_input_manager_test_node">
  </test>
</launch>
