 <launch>
    <arg name="openrover_node_name" default="rr_openrover_driver" />
    <arg name="config_locks"  default="$(find rr_rover_zero_driver)/config/twist_mux_locks.yaml"/>
    <arg name="config_topics" default="$(find rr_rover_zero_driver)/config/twist_mux_topics.yaml"/>

    <!-- Rover Zero Node -->
    <node pkg="rr_rover_zero_driver" type="rover_zero.py" name="rover_zero_driver_node" output="screen">
        <param name="dev" value="/dev/rover-zero"/>
        <param name="address" value="128"/>
        <param name="baud" value="115200"/> #S1 baudrate
        <param name="max_vel" value="5.0"/>
        <param name="max_turn_rate" value="6.28"/>
        <param name="speed_to_duty_coef" value="1.02"/>
        <param name="diag_frequency_hz" value="1.0"/>
        <param name="motor_cmd_frequency_hz" value="30.0"/>
        <param name="odom_frequency_hz" value="30.0"/>
        <param name="cmd_vel_timeout" value="0.5"/>
        <param name="timeout" value="0.1"/>
        <param name="enable_encoder_odom" value="False"/>
        <param name="enable_esc_feedback_controls" value="True"/>
        <param name="v_pid_overwrite" value="False"/>
        <param name="save_motor_controller_settings" value="False"/>
        <param name="m1_v_p" value="3.0"/>
        <param name="m1_v_i" value="0.35"/>
        <param name="m1_v_d" value="0.0"/>
        <param name="m1_v_qpps" value="10000"/>
        <param name="m2_v_p" value="3.0"/>
        <param name="m2_v_i" value="0.35"/>
        <param name="m2_v_d" value="0.0"/>
        <param name="m2_v_qpps" value="10000"/>
        <param name="highspeed_turn_damping" value="False"/>
        <param name="trim" value="0.00"/>
        <param name="encoder_pulses_per_turn" value="5400.0"/>
        <param name="left_motor_max_current" value="10.0"/>
        <param name="right_motor_max_current" value="10.0"/>
        <param name="active_brake_timeout" value="1.0"/>
        <param name="odom_frame" value="odom"/>
        <param name="base_link_frame" value="base_link"/>
        <param name="wheel_base" value="0.358775"/>  # Distance between center of wheels
        <param name="wheel_radius" value="0.127"/>
        <remap from="/cmd_vel" to="/cmd_vel/managed"/>
    </node>

    <!--  Twist Mux  -->
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <remap from="cmd_vel_out" to="/cmd_vel/managed"/>

        <rosparam file="$(arg config_locks)"  command="load"/>
        <rosparam file="$(arg config_topics)" command="load"/>
    </node>

    <!-- Control input manager -->
    <node pkg="rr_control_input_manager" type="control_input_manager.py" name="rr_control_input_manager_node" output="log" >
        <param name="driver" value="xboxdrv"/>
        <param name="wired_or_wireless" value="wireless"/>
        <rosparam file="$(find rr_control_input_manager)/config/input_topics.yaml" command="load"/>
    </node>

</launch>
